# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore ALL datasets
data/raw/*.csv
data/processed/*.csv

# Ignore model files
models/*.pkl
models/*.joblib
models/*.png
models/*.csv

# Cache
data/raw/cache/

# Logs
*.log

# Secrets
.env